<div>
    <app-logo></app-logo>
    <p>In the heart of every patriot beats the rhythm of love for their homeland. It's a symphony of loyalty, courage, and sacrifice, woven into the fabric of our nation's history. From the soaring peaks of freedom to the valleys of adversity, patriots stand firm, united by their unwavering commitment to defend and uphold the ideals that define us. Through every challenge and triumph, their fervent spirit ignites the flame of hope and inspires generations to come. For in the tapestry of patriotism, each thread represents a pledge to honor, cherish, and protect the land we call home.</p>
</div>
