<div>
    <p>Our Websites: </p>
    <div class="block">
   <p> <a href="https://www.russia.ru">Russia</a>
    <a href="https://www.usa.gov">USA</a>
    <a href="https://www.china.com">China</a></p>
</div>

<div class="block">
    <p><a href="https://www.germany.de">Germany</a>
    <a href="https://www.france.fr">France</a>
    <a href="https://www.italy.it">Italy</a></p>
</div>
<div class="block">
    <p><a href="https://www.spain.es">Spain</a>
    <a href="https://www.monaco.mc">Monaco</a>
    <a href="https://www.luxembourg.lu">Luxemburg</a></p>
    </div>
</div>